.Nbmaindiv {
    width: 100px;
    height: 686px;
    background-color: rgb(211, 38, 38);
}

.Nbmaindiv ul {
    padding: 0;
    padding-top: 10px;
    padding-left: 10px;
    text-align: left;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: white;
}

.Nbmaindiv li {
    margin: 0 0 20px 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none
}

.menudisplaydivmain {
    overflow: auto;
    position: absolute;
    padding: 20px;
    /* background-color: pink; */
    left: 100px;
    height: 686px;

}

.menudisplaydivmain h4 {
    /* width: 200px; */
}

.Menubox {
    display: flex;
    justify-content: space-between;
    width: 220px;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 7px;
    border: 1px solid black;
}

.Menuboxdiv1 {
    display: flex;
    padding: 3px;
    justify-content: center;
    align-items: center;

    /* background-color: cadetblue; */
    width: 40%;
}

.Menuboxdiv2 {
    /* display: flex; */
    padding: 5px;
    /* justify-content: center; */
    align-items: center;
    width: 60%;


    /* background-color: aquamarine; */
}

.Menuboxdiv2 button {
    border: none;
    border-radius: 7px;
    background-color: green;
    color: white;
    margin: 10px 10px 10px 10px;
    width: 100px;
}

.quantitydivm {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;
}

.quantitydivm input {
    text-align: center;
    margin: 0 5px;
    width: 50px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

.quantitydivm img {
    height: 20px;
    width: 20px;
}

.searchbar {
    margin: 0 auto;
    width: 230px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    /* background-color: cadetblue; */
}

.searchbar input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

.searchbar img {
    height: 30px;
    width: 30px;
}

.checkoutdiv {
    position: absolute;
    bottom: 0;
    background-color: palevioletred;
    width: 100%;
    height: 100px;
}